:root {
  /* Colors */
  --total-black: #000000;
  --green-black-800: #141615;
  --green-black-700: #141615;
  --green-black-600: #1D211F;
  --green-black-500: #1D2723;
  --green-black-400: #2B3D36;
  --green-700: #43D18C;
  --green-500: #5FA181;
  --grey: #A2B0A9;
  --light-grey: #E4E4E4;
  --white: #FFFFFF;

  /* Components */
  --default-transition: all 0.3s ease-in-out;
  --default-border-radius: 50px;
  --button-border-radius: 50px;
}