:root {
  /* Colors */
  --total-black: #000000;
  --green-black-800: #141615;
  --green-black-700: #141615;
  --green-black-600: #1d211f;
  --green-black-500: #1d2723;
  --green-black-400: #2b3d36;
  --green-700: #43d18c;
  --green-500: #5fa181;
  --grey: #a2b0a9;
  --light-grey: #e4e4e4;
  --white: #ffffff;

  /* RGB versions */
  --green-500-rgb: 95, 161, 129;

  /* Components */
  --default-transition: all 0.3s ease-in-out;
  --default-border-radius: 50px;
  --button-border-radius: 50px;
}
